<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my_site</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome.min.css">
    <link rel="stylesheet" href="/static/user.css">
</head>

<body>
    <h1 class="text-uppercase text-center"><a href="/" class="back_link"><</a></h1>
    <br/><br/><br/><br/>
<div class="container_about">
    <div class="about_image"><img src="/static/sumanth2.JPG" class="image"/></div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="about_content">
        
        <p class="about_writeup">On a pilgrimage to find the world's best coffee! Mostly trying fit my dreams into achievable packets and fulfilling them, worked out well so far!
Like my coffee and chocolate dark, mostly found wrapped up in a blanket with a novel or sleeping. </p>
    </div>
</div>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</body>

</html>