<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my_site</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome.min.css">
    <link rel="stylesheet" href="/static/user.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#"> </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation"><a href="about">About me</a></li>
                    <li role="presentation"><a href="https://drive.google.com/file/d/1jAgc7GHCtzRZZV0EdUq3V5XtZFel6yD6/view?usp=sharing">Resume </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row_tohide"></div>
    <div class="row_tohide"></div>
    <div class="jumbotron hero">
        <div class="container">
            <div>
                <h1>Sumanth S Rao</h1>
                <h2>@TheMonomaniac </h2></div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="email">
    <a href="mailto:sraosumanth@gmail.com">sraosumanth@gmail.com</a>
</h2>
                </div>
                <div class="col-sm-6 social-icons"><a href="https://www.facebook.com/sumanth.srao.9"><i class="fa fa-facebook"></i></a><a href="https://github.com/sumanthrao"><i class="fa fa-github"></i></a><a href="https://www.linkedin.com/in/sumanth-rao-b9a505125/"><i class="fa fa-linkedin"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</body>

</html>